PROJECT_NAME="Backend Internship"
SECRET_KEY="your_secret_key_here"
APP_PORT=8000
LOG_INFO=INFO

# PostgreSQL
DB_HOST=postgresql
DB_PORT=5432
DB_USER=your_username
DB_PASS=your_pass
DB_NAME=your_db_name

# Redis
REDIS_HOST=redis
REDIS_PORT=6379